<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ListenersImplementation"></listener>
    </listeners>
    <parameter name="browser" value="edge"></parameter>
    <parameter name="URL" value="https://www.google.com/"></parameter>
    <test name="test1" thread-count="1">
        <classes>
            <class name="tests.Test1"/>
        </classes>
    </test>
</suite>